

body{
  /* background: linear-gradient(black,blue); */
  background-color: rgb(3, 251, 242);
  color: rgb(15, 15, 15);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  padding: 25px;
  font-weight: 600;
  cursor: pointer;
}
.table{
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  box-shadow: 0 0 80px 50px black;
}
th{
  font-weight: 1000px;
  font-family: sans-serif;
}
tr,th{
  padding: 20px;
  width: 250px;
  height: 50px;
}
table,tr,td,th{
  border: 2px solid white;
  border-collapse: collapse;
}
td:hover{
  background-color: rgb(239, 245, 245);
  color: black;
}
.search{
  padding: 7px;
  background-color: white;
  border: 2px solid rgb(3, 249, 249);
 /* position: relative;
 right: 480px; */
 
}
.search:hover{
background-color: white;
}